<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
	  <target xsi:type="File" fileName="${basedir}/logs/${processname}.log" name="MainDebugFile" 
			  layout="${newline}${pad:padding=-15:inner=${uppercase:inner=${level}}}${pad:padding=-50:inner=${logger}}${longdate}${newline}${message}${newline}${exception:format=tostring}${newline}"
              deleteOldFileOnStartup="true" 
            />
      <target xsi:type="File"
              fileName="${basedir}/logs/${processname}.log"
              name="TraceFile"
              layout="${longdate}      ${message}"
              deleteOldFileOnStartup="true"
       />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

	  <logger name="*" minlevel="Warn" writeTo="MainDebugFile"/>
	  <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="TraceFile"/>
	  
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="Name.Space.Class1" levels="Debug,Error" writeTo="f1" />
    <logger name="Name.Space.*" minlevel="Debug" maxlevel="Error" final="true" />
    -->
  </rules>
</nlog>

<!--Off
    Fatal
    Error
    Warn
    Info
    Debug
    Trace-->