@{
    ViewBag.Title = "Динамика";
    ViewBag.SubTitle = "поступления данных";
    string units = null;
}

@section Styles
{
    <style>
        #chart {
            width: 600px;
            height: 300px;
        }
    </style>
}

<div id="chart-container">
    <div id="chart">
        
    </div>
</div>

<button id="switch-data">switch</button>

@section Scripts
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/flot")

    <script>
        var plot = $.plot("#chart", [[[0, 0], [50, 50]]], { yaxis: { min: 0, max: 100 }, xaxis: { show: false } });

        $(function() {
            $.connection.hub.logging = true;
            var chart = $.connection.chart;
            chart.client.dataChanged = onDataChanged;
            $.connection.hub.start();

            var dataMode = 'historian';

            $('#switch-data').click(function () {
                unSubscribeFrom(dataMode);
                dataMode = dataMode == 'historian' ? 'pdgtm' : 'historian';
                subscribeOn(dataMode);
            });

            function onDataChanged(historianValues) {
                console.log(historianValues.length);
            }

            function subscribeOn(data) {
                chart.server.subscribeOn(data);
            }

            function unSubscribeFrom(data) {
                chart.server.unSubscribeFrom(data);
            }
        });
    </script>   
}
