@{
    ViewBag.Title = "Динамика";
    ViewBag.SubTitle = "поступления данных";
    string units = null;
}

@section Styles {
    <style>
        .axisLabel {
            position: absolute;
            text-align: center;
            font-family: proxima-nova, Helvetica, Arial, sans-serif;
            font-size: 16px;
        }

        .yaxisLabel {
            top: 50%;
            left: -30px;
            transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }

        .xaxisLabel {
            bottom: -30px;
            left: 50%;
        }


        #chart-container {
            width: 100%;
            text-align: left;
            -webkit-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-shadow: 3px 3px 11px 3px #BBBBBB;
            -ms-box-shadow: 3px 3px 11px 3px #BBBBBB;
            box-shadow: 3px 3px 11px 3px #BBBBBB;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            padding: 50px;
        }

        #chart {
            display: inline-block;
            width: 85%;
            float: left;
            height: 500px;
        }

        #choices {
            display: inline-block;
            float: right;
            width: 120px;
        }

        legend {
            padding-top: 40px;
        }

        #query-rate-block {
            display: inline-block;
            float: right;
            width: 120px;
            margin-top: 30px;
        }

        #rate-number-input-block {
            display: inline-block;
            text-align: center;
        }

        #rate-number-input-block > input {
            display: inline;
            width: 60px;
        }

        #set-query-range-btn {
            width: 100%;
            padding: 0 10px;
            margin-top: 10px;
        }
    </style>
}

<div id="chart-container">
    <div id="chart"></div>
    <p id="choices">
        <br />
        <input type="checkbox" name="historian" checked="checked" id="historian" />
        <label for="historian">Historian</label>
        <br />
        <input type="checkbox" name="pdgtm" checked="checked" id="pdgtm" />
        <label for="pdgtm">PDGTM</label>
        <br />
        <div id="query-rate-block">
            <label for="query-rate">Период</label>
            <div id="rate-number-input-block">
                <input id="query-rate" type="number" min="1" class="form-control" max="59" value="@Html.Action("GetQueryRange", "Chart")" />
                <label for="query-rate">Мин</label>
            </div>
            <button id="set-query-range-btn">Ok</button>
        </div>
    </p>
    <legend></legend>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/flot")

    <script>
        $(function () {
            $('#set-query-range-btn').click(function () {
                var value = $('#query-rate').val();
                $.ajax({
                    type: "POST",
                    url: "/api/chart/setQueryRange/?minutes=" + value,
                });
            });
        });

        var series = [
            {
                label: "Historian",
                data: [],
            },
            {
                label: "Gas rate",
                data: [],
            },
            {
                label: "Oil rate",
                data: [],
            },
            {
                label: "Water rate",
                data: [],
            }
        ];

        $(function () {
            var container = $("#chart");

            var plot = $.plot(container, series, {
                xaxis: {
                    mode: "time",
                    timeformat: "%M:%S"
                },
                yaxis: {
                    tickDecimals: 0,
                },
                grid: {
                    borderWidth: 0,
                },
                legend: {
                    labelFormatter: function (label) {
                        return '&nbsp;' + label;
                    }
                }
            });

            var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
                .text("Value (%)")
                .appendTo(container);
            yaxisLabel.css("margin-top", yaxisLabel.width() / 2 - 20);

            var xaxisLabel = $("<div class='axisLabel xaxisLabel'></div>")
                .text("Timestamp")
                .appendTo(container);
            xaxisLabel.css("margin-right", xaxisLabel.width() / 2 - 20);

            setInterval(function updatePlot() {
                plot.setData(series);
                plot.draw();
                plot.setupGrid();
            }, 50);
        });

        $(function () {
            var chart = $.connection.chart;
            chart.client.pdgtmDataChanged = onPdgtmDataChanged;
            chart.client.historianDataChanged = onHistorianDataChanged;
            $.connection.hub.start();

            $('#pdgtm').change(function () {
                if (this.checked) {
                    subscribeOn('pdgtm');
                } else {
                    unSubscribeFrom('pdgtm');
                    series[1].data = [];
                    series[2].data = [];
                    series[3].data = [];
                }
            });

            $('#historian').change(function () {
                if (this.checked) {
                    subscribeOn('historian');
                } else {
                    unSubscribeFrom('historian');
                    series[0].data = [];
                }
            });

            function onPdgtmDataChanged(pdgtmValues) {
                //console.log('pdgtm: ' + pdgtmValues.length);
                var gasData = [];
                var oilData = [];
                var waterData = [];
                for (var i = 0; i < pdgtmValues.length; i++) {
                    gasData.push([new Date(Date.parse(pdgtmValues[i].Time)).getTime(), pdgtmValues[i].GasRate]);
                    oilData.push([new Date(Date.parse(pdgtmValues[i].Time)).getTime(), pdgtmValues[i].OilRate]);
                    waterData.push([new Date(Date.parse(pdgtmValues[i].Time)).getTime(), pdgtmValues[i].WaterRate]);
                }
                series[1].data = gasData;
                series[2].data = oilData;
                series[3].data = waterData;
            }

            function onHistorianDataChanged(historianValues) {
                //console.log('historian: ' + historianValues.length);
                var data = [];
                for (var i = 0; i < historianValues.length; i++) {
                    data.push([new Date(Date.parse(historianValues[i].Time)).getTime(), historianValues[i].Value]);
                }
                series[0].data = data;
            }

            function subscribeOn(data) {
                chart.server.subscribeOn(data);
            }

            function unSubscribeFrom(data) {
                chart.server.unSubscribeFrom(data);
            }
        });
    </script>
}