body {
    font-size: 18px;
}

* {
    margin: 0; 
    padding: 0;
} 

html, body, #wrap {
    height: 100%;
}

body > #wrap {
    height: auto; 
    min-height: 100%;
}

#main {
     padding-bottom: 106px;
}
  /* must be same height as the footer */
#footer {     
    position: relative;
    margin-top: -106px; /* negative value of footer height */
    height: 106px;
    clear:both;
} 

/* CLEAR FIX*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
     height: 1%;
}

.clearfix {
    display: block;
}
/* End hide from IE-mac */


/* Styles for _Layout.cshtml
-----------------------------------------------------------*/

footer {
    padding-bottom: 40px;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
}

.footer-line {
    border-top: 1px solid #eeeeee;
    padding-bottom: 30px;
}

.navbar-brand {
    font-size: 22px;
}

.navbar .navbar-nav > .active > a {
    background-color: #e7e7e7;
    font-weight: bold;
}

.navbar-collapse {
    margin: 0 auto;
}

div#page-content {
    min-height: 600px;
    padding-bottom: 30px;
}

li button {
    margin-top: 7px;
    margin-right: 10px;
}

/* Styles for About.cshtml
-----------------------------------------------------------*/
.content-about {
        padding: 100px 0;
        letter-spacing: 0.15em;
        font-size: 1.2em;
    }

    .content-about > h2 {
        display: inline-block;
    }