@using WellEmulator.Models
@model WellEmulatorServiceClient.ServiceReference.Tag[]
@{
    ViewBag.Title = "Теги";
    ViewBag.SubTitle = "список тегов определенных в системе";
}

@section Styles {
    <style>
        select.form-control {
            font-size: 1.0em;
        }

        .column-header {
            text-align: center;
            padding: 10px;
            margin: 0px 50px 30px;
            font-weight: bold;
            color: #999999;
            border-bottom: 1px solid #eeeeee;
        }
        
        input.form-control[type=text] {
            padding: 0 10px;
            width: 60%;
            display: inline-block;
            cursor: default;
        }

        .properties {
            margin: 30px 0;
            display: block;
            text-align: right;
        }

        .properties label {
            width: 35%;
        }

        div#button-container {
            padding: 10px 0;
        }

        button#remove-tag {
            width: 100%;
            
        }
    </style>
}

<div class="col-lg-4">
    <div class="column-header">
        <span>Теги</span>
    </div>

    <select size="23" class="form-control" id="tag-list">
        @foreach (var tag in Model)
        {
            <option data-tag-id="@tag.Id">@tag.Name</option>
        }
    </select>
    
    <div id="button-container">
        <button id="remove-tag" class="btn btn-lg btn-info">Удалить выбранный тег</button>
    </div>
</div>

<div class="col-lg-8">
    <div class="column-header">
        <span>Информация о теге</span>
    </div>

    <div class="properties">
        <label for="group">Стандарт:</label>
        <input class="form-control" id="group" type="text" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="group-object">Объект:</label>
        <input class="form-control" id="group-object" type="text" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="tag-name">Параметр:</label>
        <input class="form-control" id="tag-name" type="text" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="well-name">Скважина:</label>
        <input class="form-control" id="well-name" type="text" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="initial-value">Начальное значение:</label>
        <input class="form-control" id="initial-value" type="text" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="max-value">Максимальное значение:</label>
        <input class="form-control" type="text" id="max-value" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="min-value">Минимальное значение:</label>
        <input class="form-control" id="min-value" type="text" readonly="readonly"/>
    </div>
    <div class="properties">
        <label for="delta-value">Величина изменения на каждом шаге:</label>
        <input class="form-control" id="delta-value" type="text" readonly="readonly"/>
    </div>
</div>

@section Scripts {
    <script>
        $("select#tag-list").change(function() {
            getTag();
        });

        var getTag = function() {
            $("#wait-dialog").modal("show");
            var tagId = $("select#tag-list :selected").data("tag-id");
            $.ajax({
                url: "/api/service/gettag", // TODO check
                data: { tagId: tagId },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result) {
                        setTag(result);
                    } else {
                        alert("error");
                    }
                },
                error: function(result) {
                    alert(result.responseText);
                },
                complete: function() {
                    $("#wait-dialog").modal("hide");
                }
            });
        };

        $("button#remove-tag").click(function() {
            removeTag();
        });

        var removeTag = function () {
            $("#wait-dialog").modal("show");
            var tagId = $("select#tag-list :selected").data("tag-id");
            console.log({ tagId: tagId });
            $.ajax({
                url: "/api/service/removetag", // TODO check
                data: { tagId: tagId },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result == "ok") {
                        updateTags();
                    } else {
                        alert("error");
                    }
                },
                error: function (result) {
                    alert(result.responseText);
                },
                complete: function () {
                    $("#wait-dialog").modal("hide");
                }
            });
        };
        
        var updateTags = function () {
            $.ajax({
                url: "/api/service/gettags",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log(result);
                    if (result) {
                        $("select#tag-list").html(function () {
                            var html = "";
                            for (var i = 0; i < result.length; i++) {
                                html += '<option data-tag-id"' + result[i].Id + '">' + result[i].Name + '</option>';
                            }
                            return html;
                        });
                    } else {
                        alert("error");
                    }
                },
                error: function (result) {
                    alert(result.responseText);
                }
            });
        };

        var setTag = function(tag) {
            $("input#group").val(tag.Group);
            $("input#well-name").val(tag.WellName);
            $("input#group-object").val(tag.Object);
            $("input#tag-name").val(tag.Name);
            $("input#initial-value").val(tag.Value);
            $("input#max-value").val(tag.MaxValue);
            $("input#min-value").val(tag.MinValue);
            $("input#delta-value").val(tag.Delta);
        };
    </script>
}