<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWellEmulator" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9439/WellEmulatorService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWellEmulator"
                contract="ServiceReference.IWellEmulator" name="WSDualHttpBinding_IWellEmulator">
                <identity>
                    <userPrincipalName value="Andrey-pc\Andrey" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>