@{
    ViewBag.Title = "О приложении";
    ViewBag.SubTitle = "\"Well Emulator\"";
}

<div class="content-about">
    <h2>WellEmulator</h2>&emsp;&mdash;&emsp;эмулятор скважин нефтянного месторождения.
</div>

