<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReportUpload" value="C:\Historian\Data\DataImport\FastLoad"/>
  </appSettings>
    <connectionStrings>
        <!--Data Source=ANDREY-PC;Initial Catalog=master;Integrated Security=True-->
        <add name="HistorianConnection"
             providerName="System.Data.SqlClient"
             connectionString="Data Source=109.123.147.230;Initial Catalog=Runtime;Persist Security Info=True;User ID=aaAdmin;Password=Kf,jhfnjhbz212"/>
        <add name="TeamworkConnection"
             connectionString="Data Source=109.123.146.246;Initial Catalog=PDGTM;Persist Security Info=True;User ID=frt;Password=231"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>