<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWellEmulator" />
                <binding name="BasicHttpBinding_IWellEmulator1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWellEmulator" />
                <binding name="NetTcpBinding_IWellEmulator1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9438/WellEmulatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWellEmulator"
                contract="ServiceReference.IWellEmulator" name="NetTcpBinding_IWellEmulator">
                <identity>
                    <userPrincipalName value="ANDREY-PC\Andrey" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9439/WellEmulatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWellEmulator"
                contract="ServiceReference.IWellEmulator" name="BasicHttpBinding_IWellEmulator" />
            <endpoint address="net.tcp://localhost:9438/WellEmulatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWellEmulator1"
                contract="ServiceReference.IWellEmulator" name="NetTcpBinding_IWellEmulator1">
                <identity>
                    <userPrincipalName value="ANDREY-PC\Andrey" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9439/WellEmulatorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWellEmulator1"
                contract="ServiceReference.IWellEmulator" name="BasicHttpBinding_IWellEmulator1" />
        </client>
    </system.serviceModel>
</configuration>