<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWellEmulator" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9438/WellEmulatorService"
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_IWellEmulator"
                      contract="ServiceReference.IWellEmulator"
                      name="NetTcpBinding_IWellEmulator">
                <identity>
                    <userPrincipalName value="ANDREY-PC\Andrey" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>